.wapper__item {
    margin: 19px 144px 0 144px;
    display: flex;
    flex-wrap: wrap;
    width: 1188px;
    .frame {
        background: #fffcfc;
        border: 1px solid #b4b1b1;
        box-sizing: border-box;
        border-radius: 5px;
        width: 280px;
        height: 395px;
        margin-right: 11px;
        margin-bottom: 15px;
        img {
            width: 233.18px;
            height: 200px;
            object-fit: cover;
            box-shadow: 0.5px 0.5px 12px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            margin: 21px 23.87px 15px 22.95px;
        }
        .content__item {
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 37px;
            color: #000000;
            margin: 0 45.05px 0 22.95px;
            width: 212px;
            height: 37px;
        }
        .id__item {
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            width: 194.62px;
            height: 28px;
            color: #000000;
            margin: 0 62.43px 6px 22.95px;
        }
        .wapper__item__star {
            display: flex;
            justify-content: space-between;
            .wapper__item__star_small {
               
                &:nth-child(1){
                    margin-left: 22.95px;
                }
                svg {
                    width: 14.69px;
                    height: 15px;
                }
            }
            .saleof__item {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 18px;
                width: 60px;
                height: 18px;
                color: #d70000;
                margin: 7px 30px 0 0;
               
            }
        }
        .wapper__item__star {
            .money {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                width: 94px;
                height: 28px;
                color: #000000;
                margin: 0 83.57px 0 25px;
            }
            .cart__item {
                margin-right: 30px;
                svg {
                    height: 28px;
                    width: 28.46px;
                }
            }
        }
        .btn_item {
            background: rgba(0, 167, 17, 0.5);
            border: 1px solid rgba(0, 202, 20, 0.5);
            box-shadow: 5px 5px 20px rgba(196, 255, 202, 0.5);
            border-radius: 10px;
            color: #FFF;
            width: 98px;
            height: 24px;
            margin-left: 25px;
            // padding: 4px 21px ;
        }
    }
}