.nav {
    margin: 0 0 17px 0;
    padding-left: 159px;
    background: #fffbfb;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    height: 50px; 
    display: flex;
    align-items: center;
    letter-spacing: -0.32px;
    color: #595959;
}
