.container {
    padding: 103px 32px 0 257px;
    // background-color: #F5F7FA;

    * {
        font-family: Arial;
    }

    .title {
        line-height: 100%;
        color: #929395;
        font-size: 18px;
    }
}
