.background {
    position: fixed;
    background-color: rgba(17, 17, 17, 0.4);
    width: 100%;
    height: 100vh;
    z-index: 1000;
}

.container {
    width: 832px;
    height: 395px;
    display: flex;
    position: absolute;
    top: 258px;
    left: 50%;
    transform: translateX(-50%);

    .buttonClose{
        width: 31px;
        height: 31px;
        position: absolute;
        border: 1px solid #E4E4E4;
        line-height: 26px;
        top: 10px;
        right: 10px;
        border-radius: 50%;
        background-color: #fff;
        font-size: 24px;
        color: #626060;
        font-family: 'Red Rose';
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .buttonClose:hover{
        border: 1px solid #d1d1d1;
        background-color: #f1f1f1;
    }

    .item {
        flex: 1;
        border-radius: 20px 0 0 20px;
        padding: 51px 47px;
        background-color: #fff;

        > p {
            font-size: 24px;
            line-height: 28.13px;
            margin-bottom: 47px;
        }

        > div {
            padding: 0 11.47px;
        }

        input {
            padding: 5px 10px;
            border: none;
            border-bottom: 1px solid #000;
            width: 100%;
            line-height: 19px;
            margin-top: 28px;
        }

        input:first-of-type {
            margin-top: 0;
        }

        input::placeholder {
            font-weight: 400;
            color: #757575;
            vertical-align: top;
            line-height: 19px;
        }
        
        input:focus-visible {
            outline: none;
            border-bottom: 2px solid #90d2c3;
        }

        button {
            width: 100%;
            border: none;
            border-radius: 5px;
            height: 37px;
            background-color: #ffd333;
            margin-top: 21px;
            font-size: 24px;
            padding: 4px 0.36px;
            line-height: 28px;
            vertical-align: top;
        }

        a {
            margin-top: 17px;
            display: block;
            width: 100%;
            font-size: 14px;
            font-weight: bold;
            line-height: 16px;
            // vertical-align: top;
            color: #646464 !important;
            text-align: center;
        }
    }

    .item:last-of-type {
        background-color: #faf096;
        border-radius: 0 20px 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        p {
            font-weight: bold;
            font-size: 68px;
            line-height: 80px;
            line-height: 100%;
            vertical-align: top;
            margin-bottom: 31px;
        }
    }

    .password {
        position: relative;
        margin-top: 23px;

    
        .forgotPassword {
            width: fit-content;
            position: absolute;
            font-size: 12px !important;
            line-height: 14px!important;
            font-weight: bold !important;
            color: #383737 !important;
            bottom: 6px;
            right: 10px;
        }
    }

    .errorMessage {
        padding: 0 10px;
        font-weight: 600;
        font-size: 12px;
        color: #d1404a;
        margin: 2px 0 0;
    }
}


